{% extends 'corylayout.html' %}
{% block content%}
    <script>
        
        function CopyToClipboard(id)
        {
        var r = document.createRange();
        r.selectNode(document.getElementById(id));
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(r);
        document.execCommand('copy');
        window.getSelection().removeAllRanges();
        alert("Copied");
        }

    </script>

    <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }} " alt="profile_pic">
        <div class="media-body">
            <h2 class="account=-heading">Welcome {{ current_user.username }} </h2>
            <p class="text-secondary"> {{ current_user.email }} <img class="rounded-circle" alt="verified-badge" src="{{ url_for('static', filename='img/verified2.jpg') }}" width="20" height="20"></p>
        </div>
    </div>
    {% if user_details|length > 0 %}

    {% for detail in user_details %}
    {% if detail.creator == current_user %}
    <article class="media content-section">
        <!-- <img src="{{ url_for('static', filename='img/' + detail.creator.image_file)}}" class="rounded-circle article-img" alt=""> -->
        <div class="media-body">
            <div class="article-metadata">
                <p class='mr-2' href='#'>Username: {{ detail.account_name }} </p>
                <small class="text-muted"> {{ detail.date_added.strftime('%d-%m-%Y') }}</small>
            </div>
            <!-- <h3><a class="article-title" href="https://{{ detail.site_name }}.com">{{ detail.site_name }}</a></h3> -->
            <h5><a class="article-title" href="#">{{ detail.site_name }}</a></h5>
            <p class="article-content">Email: {{ detail.site_email }}</p>
            
            <span>
                Password:
                    <p class="article-content" id='{{ detail.id }}'>{{ detail.site_password }}<a tabindex="0" class="btn popover-dismiss" onclick="CopyToClipboard('{{ detail.id }}');return false;" role="button" data-toggle="popover" data-trigger="focus" title="copy" data-content="Password Copied"><i class="far fa-clipboard"></i></a></p>
            </span>
            {% if detail.creator == current_user %}
            <div>
                <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('details.update_detail', detail_id = detail.id) }}">Update</a>
                <a class="btn btn-danger btn-sm m-1" href="{{ url_for('details.delete_detail', detail_id=detail.id) }}" onclick="return confirm('Are you sure you want to Remove?');">Delete</a> 
            </div>
            {% else %}
            {% endif %}
            <!-- <button class="btn btn-info "><a href="">Update</a></button> -->
        </div>
    </article>

    {% endif %}
    {% endfor %}

    {% else %}
    
    <article class="media content-section">
        <div class="media-body">
            <h5>Delighted to have you here!</h5>
                <br>
            <div>
                <a class="btn btn-outline-success btn-sm m-1" href="{{ url_for('details.new_detail') }}">Get Started</a>
            </div>
        </div>
    </article>

    {% endif %}
{% endblock content %}


